/* menu buttons */

.menu-btn button {
  color: var(--app-text-tertiary);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 0.78rem;
  font-size: 0.88rem;
  height: 1.5rem;
  /* padding: 0.8rem; */
  padding: 6px 8px;
}

.active-sort button {
  color: white;
}

.menu-btn .MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--app-border-primary-hover);
}
