/* menu buttons */

.menu-btn button {
  color: var(--app-text-tertiary);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 0.78rem;
  height: 1.5rem;
  padding: 0.8rem;
}

.menu-btn .MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--app-border-primary-hover);
}

@media (min-width: 900px) {
  .menu-card-grid {
    flex-direction: row;
    padding: 2rem 3.5rem 0rem 3.5rem;
  }
  .menu-btn button {
    font-size: 1rem;
    padding: 1rem;
  }

  .menu-card-grid .MuiFormControl-root {
    width: unset;
    margin-top: 0rem;
  }
}
