@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset browser default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: var(--app-background-primary);
  min-height: 100vh;
  font-family: "Poppins";
}

.App.dark header .MuiCard-root {
  background-color: #f5f8fc;
}

.App.dark .brand {
  color: #ccc;
}

.App.dark {
  background-color: #f5f8fc;
  color: #000;
}

.App.dark .advice-card .MuiCard-root {
  background-color: #f5f8fc;
  color: #000;
  border: 0.9px solid rgb(168, 179, 207);
}

.App.dark .advice-card-grid .MuiCardHeader-title {
  color: #000;
  font-weight: 600;
  opacity: 0.9;
}

.App.dark .advice-category-tag {
  color: #000;
}

.App.dark .advice-category-tag::before {
  background-color: #000;
}

.App.dark .advice-card .MuiSvgIcon-root {
  color: #000;
}

.App.dark .advice-card .vote-count {
  color: #000;
}
