/* FIX THE HEIGHT OF CARD WITH COUNT AND NON WITH COUNT */
/* make the counter green when the user upvote or downvote */

/* remove scroll from infinite component style */
.infinite-scroll-component__outerdiv .infinite-scroll-component {
  overflow: hidden !important;
}

.first-contributor--alert {
  font-size: 1rem;
  color: var(--app-text-tertiary);
  color: var(--app-text-primary);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-weight: 500;
}

.first-contributor--alert .link-to-form:hover {
  opacity: 1;
}

.first-contributor--alert .link-to-form {
  color: rgb(250, 250, 250);
  background-color: rgb(31, 41, 55);
  opacity: 0.7;
  padding: 0.3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  text-transform: capitalize;
}

.advice-card .custom-infinite-text--alert {
  text-align: center;
  color: #39e58c;
  padding-top: 3rem;
  font-size: 1.2rem;
}

.advice-card {
  padding: 2rem;
  display: flex;
}

section.img-bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

/* Whole card */
.advice-card .MuiCard-root {
  border: 0.9px solid var(--app-border-primary);
  font-family: "Poppins";
  /* max-width: 345px; */
  margin: "auto";
  cursor: pointer;
  background-color: var(--app-background-secondary);
}

.advice-card .MuiCard-root:hover {
  border: 1px solid var(--app-border-primary-hover);
}

.advice-card .MuiCardHeader-root {
  height: 10rem;
  max-height: 10rem;
  align-items: unset;
}

.advice-card .MuiPaper-rounded {
  border-radius: 1rem;
}

/* Advice category */
.advice-category-tag {
  font-size: 0.77rem;
  font-size: 0.87rem;
  /* font-size: 1rem; */
  padding: 10px 16px;
  color: var(--app-text-secondary);
  color: var(--app-text-primary);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  position: relative;
  top: 20px;
}

/* Category dot */
.advice-category-tag::before {
  content: " ";
  height: 5px;
  width: 5px;
  background-color: var(--app-text-secondary);
  background-color: var(--app-text-primary);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.56rem;
}

/* Title and date container */
.advice-card .MuiCardHeader-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins";
}

.advice-card-grid {
  /* margin: auto; */
}

/* Card title */
.advice-card-grid .MuiCardHeader-title {
  color: var(--app-text-tertiary);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6;
  padding-top: 1rem;
  text-transform: capitalize;
  font-family: "Poppins";
}

/* Date */
.advice-card .MuiCardHeader-subheader {
  color: var(--app-text-tertiary);
  font-size: 0.8125rem;
  margin-top: 0.9rem;
  font-family: "Poppins";
}

/* Card svg wrapper*/
.advice-card .MuiCardActions-root {
  justify-content: space-between;
  padding: 1em;
}

/* Card svg */
.advice-card .MuiSvgIcon-root {
  color: var(--app-text-tertiary);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.advice-card .MuiSvgIcon-root:hover {
  color: var(--app-text-primary);
}

/* Svg button wrapper */
.advice-card .MuiIconButton-root:hover {
  background-color: rgba(14, 16, 20, 0.5);
  color: var(--app-text-primary);
}

.advice-card .MuiIconButton-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vote count */
.advice-card .vote-count {
  color: var(--app-text-tertiary);
  font-size: 0.8rem;
  padding: 0rem 0.3rem;
  letter-spacing: 2px;
}

.vote-wrap,
.bookmark-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.67rem;
  font-weight: 900;
}

/* actions */
.no-bookmark-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-bookmark {
  text-align: center;
  color: var(--app-text-primary);
  font-size: 1.3rem;
  opacity: 0.7;
  padding-top: 6rem;
}
.bookmark-icon .bookmarked {
  color: var(--app-text-primary);
}

.vote-wrap.upvoted .icon,
.vote-wrap.upvoted .vote-count {
  color: var(--app-text-primary);
}

.vote-wrap.downvoted .icon,
.vote-wrap.downvoted .vote-count {
  color: yellow;
  color: var(--app-text-primary);
}

@media (min-width: 900px) {
  .advice-card {
    padding: 3rem 4rem 4rem 4rem;
    padding: 3rem 4rem 4rem;
  }
}
